// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #projects {
    height: 100vh;
  }
  
  #tasks {
    height: 100vh;
  }
}

#projects {
  border-right: 1px solid #DDD;
  padding-top: 70px;
  padding-bottom: 50px;

  .list-projects {
    .list-project {
      position: relative;
      border-bottom: 1px solid #DDD;
      padding-left: 5px;
  
      &:hover {
        background-color: #EEE;
      }

      .project {
        padding: 10px 0 5px 0;
    
        .name {
          font-size: 15px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          width: 50%;
        }
      
        .count-tasks {
          font-size: 10px;
          color: #999999;
        }
      }
      
      .project-description {
        font-style: italic;
        font-size: 11px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      
      .project-btns {
        position: absolute;
        top: 5px;
        right: 5px;
      }
    }

    .selected {
      .project {
        .name {
          font-weight: bold;
        }
      }
    }
  }
}

#tasks {
  padding-top: 70px;
  padding-bottom: 50px;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 10px 0;
  background-color: white;
  font-weight: bold;
  color: #58666e;
  display: block;
  border-top: 1px solid #DDD;
}